@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

.remark-slide {
    font-family: 'Lato'
}

.title-slide h3 {
  font-weight: 400;
  font-size: 30px;
}

.remark-slide-content {
  font-size: 28px;
  padding: 15px 55px 5px 55px;
}


.remark-slide h1 {
    font-size: 56px;
}
.remark-slide-number {
    font-size: 18px;
}

/* darker border under table header */
.remark-slide table thead th {
  border-bottom: 1px solid #666;
}

.center-64 {
  margin: auto;
  padding: 0;
  width: 64%;
}

.pull-left-53 {
  padding: 0;
  float: left;
  width: 53%;
}
.pull-right-43 {
  float: right;
  width: 43%;
}

.pull-left-64 {
  padding: 0;
  float: left;
  width: 64%;
}
.pull-right-30 {
  float: right;
  width: 30%;
}

.pull-right-64 {
  padding: 0;
  float: right;
  width: 64%;
}
.pull-left-30 {
  float: left;
  width: 30%;
}

/* more padding in table cells and bulleted lists */
.remark-slide th, td {
    padding: 5px 15px;
}

.remark-slide ul li, ol li {
    padding: 5px 5px;
}

.remark-inline-code {
  font-family: 'Ubuntu Mono';
  font-size: 32px;
}

/* r output */
.remark-code {
  font-family: 'Ubuntu Mono';
  font-size: 24px;
  color: rgb(136, 0, 0);
}

/* r input */
.r.hljs {
  background: #F5F5F5; /* lighter */
  /* background: #e7e8e2;  darker */
  border-radius: 3px;
  padding: 4px;
}

/* squash captions (when use out.width or fig.align in knitr chunk, image gets
put in img div. Since need to use fig.cap to specify alt text, a caption is
then created, so use css to hide) */
.caption {
  display: none;
}

.footer {
    color: #B5153B;
    position: fixed;
    left: 20px;
    bottom: 10px;
    text-align: left;
    width: 90%;
}

.inverse .footer {
    visibility: hidden;
}

.img-100{
  width: 100px;
  display: inline-block;
}

.img-200{
  width: 200px;
  display: inline-block;
}

.img-300{
  width: 300px;
  display: inline-block;
}

.img-100-float{
  width: 100px;
  margin-right: 10px;
  float: left;
  clear: left;
}
.img-100-float-next{
  width: 100px;
  margin-right: 10px;
  float: left;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0em 0px;
    margin-top: 0.5em;
    margin-right: 0px;
    margin-bottom: 0em;
    margin-left: 0px;
}


/* colors */
:root {
  --green: #44AD7C;
  --green-faint: #44AD7C50;
}


/* Custom boxes */

.question, .your-turn, .tip {
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.your-turn {
  border-left: solid 5px var(--green);
  background-color: var(--green-faint);
}

li p {
    display: block;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
